@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

body{
    background-color: rgb(49, 51, 51);
    margin:0px;
}

/*---------------Side NavBar--------------------------------------------*/
.navigation {
  width: 100%;
  height: 400px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: rgb(66, 149, 204);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.fixed-top{
  position: relative;
  margin-left: 0;
}


@media(min-width:890px){
  .navigation {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: rgb(66, 149, 204);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }


}




.navigation img{
  vertical-align: middle;
  width: 150px;
  height: 165px;
  border-radius: 50%;
  padding: 3px;
  padding-bottom: 5px;
}

.navigation a{
    font-family: 'Antic Slab', serif;
    font-size: 26px;
    color: black; 
}

h3,h5,h4{
  color: black;
  padding-bottom: 5px;
}

.social-media{
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

.social-media i{
  margin-right: 4px;
  margin-left: 4px;
}

.fab{
  color: black !important;
}

.fas{
  color: black !important;
}


/* ---------Portfolio------------------------ */
.portfolio{
  color: white;
  margin-top: 20px;
  margin-left: 20px;
}

@media(min-width:890px){
  .portfolio{
    margin-top: 30px;
    margin-left: 270px;
  }
}

.topic{
  display: flex;
  font-family: 'RocknRoll One', sans-serif;
}

.trapezoid {
	border-bottom: 50px solid rgb(66, 149, 204);
	border-left: 25px solid transparent;
	height: 0;
  padding-right: 10px;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid rgb(66, 149, 204);
	border-bottom: 25px solid transparent;
}

.skills{
  border-radius: 8px;
  background-color:rgb(49, 51, 51);
  color:rgb(206, 200, 200);
  border-color: rgb(206, 200, 200);
  margin: 6px;
}

.portion{
  padding-top: 20px;
  margin: 6px;
}

/* ----------------------------------Projects------------------------------ */
.card{
  background-color: rgb(160, 205, 235);
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.card-text{
  color:rgb(52, 97, 148)
}

.card-links{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: black;
}


img{
  border-radius: 10px;
}

.card-button{
  width: 110px;
  margin:5px;
  padding: 10px;
  background-color:rgb(66, 149, 204);
  border:none;
  border-radius: 5px;
  
  box-shadow: 7px 7px 4px rgb(102, 165, 224);
      -moz-box-shadow: 7px 7px 7px rgb(102, 165, 224);
      -webkit-box-shadow: 7px 7px 4px rgb(102, 165, 224);
      -khtml-box-shadow: 7px 7px 4px rgb(102, 165, 224);
}

/* --------------------------------------------------------------------------------*/

/* --------------------------------------Education-------------------------------- */
.education{
  margin-bottom: 40px;
  display: flex;
  flex-direction:column;
}

.edu-heading{
  display: flex;
  flex-direction:row;
}

.edu-heading h6,h7{
  color:rgb(197, 189, 189);
  margin-left: 10px;
  /* margin-bottom: 15px; */
}
.education i{
  color: rgb(197, 189, 189) !important;
  margin-top: 3px;
}

.name{
  color: rgb(131, 161, 206);
}

/* -------------------------------------------------------------------------------------- */

/* ----------------------------------Achievements------------------------------------------- */

.ach-text{
  display: flex;
  flex-direction: column;
}

.ach-text i{
  color:rgb(197, 189, 189) !important;
  margin-top: 3px;
}

.ach-text h6{
  color:rgb(197, 189, 189);
}
/* ----------------------------------------------------------------------------------------- */